
/* Adding the font */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
/* @supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
} */

body {
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    background-color: white;
    color: #353535;
    margin: 0px;
    /* margin-left: 128px;
    margin-right: 128px;
    margin-top: 24px; */
}

/* Font Styles */

h1 {
    font-weight: bold;
    font-size: 44px;
    line-height: 53px;
    color: #353535;
    padding:0px;
    margin:0px;


    animation-duration: 1.5s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

h2 {

    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 53px;
    padding:0px;
    margin: 0px;

    animation-duration: 1.5s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
}

@keyframes slidein {
    0% {
        margin-left: -100px;
    }

    100% {
        margin-left: 0px;
    }

}

h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 0px;
    color: #353535;
}

#logo {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    color: #353535;
}

nav ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #353535;
}

.link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    color: #353535;
}


.title-and-description {
    margin-top: 32px;
    width: 35%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.bigheaderbackground {
    background-image: url("../images/backgrounds/bigheaderbackground.png");
    background-size: cover;
}

.header-content {
    padding-top: 180px;
    padding-left: 128px;
    padding-bottom: 112px;
}


/* Dividers */

.light-divider {
    border-bottom: 1px solid #353535;
}

.heavy-divider {
    border-bottom: 4px solid #353535;
}

/* Photos */

.cover-photo {
    width: 49%;
/* max-height:100%; */
}

.main {
    margin-top: 80px;
}

.page-block {
    margin-top: 80px;
    padding: 0px 128px;
    justify-content: space-between;
    margin-bottom: 88px;
}

.companies {
    margin: 0px;
    margin-top: 40px;
}

#intro {
    width: 40%;
}

.nav-background {
    background-image: url("../images/backgrounds/navbackground.png");
    background-size: cover;
}

nav {
    padding: 24px 64px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

.nav-links {
    padding-left: 64px;
    margin: 0px;
    display: inline;
}

a {
    text-decoration: none;
    color: #353535;
}

/* a:hover {
    text-decoration: underline;
} */

footer {
    padding: 0px 128px;
    margin:0px;
}

.social-links {
    margin: 24px 0px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #353535;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #353535;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
